.image{
    height: 400px;
    padding: 15px;
    background-image: url(https://user-images.githubusercontent.com/42610692/120894536-96bb2680-c621-11eb-8489-9d676c59163c.jpg);
    background-size: 200px 200px;
}